
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>About</h2>

<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>City</th>
    </tr>
    <tr>
        <td>1</td>
        <td>dasdsa</td>
        <td>adana</td>
    </tr>
    <tr>
        <td>1</td>
        <td>dasdsa</td>
        <td>adana</td>
    </tr>

</table>

