
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Experience Page</h2>
<form method="post">

    <input type="text" name="Title" placeholder="Write the title" class="form-control" />
    <br />
    <input type="text" name="Subtitle" placeholder="Write the subtitle" class="form-control" />
    <br />
    <input type="text" name="Date" placeholder="Write the Date" class="form-control" />
    <br />
    <textarea placeholder="Write the description" name="Description" class="form-control" rows="5"></textarea>
    <br />

    <button class="btn btn-info">Add Experience</button>
</form>
